.customFixedTop50 {
    top: 50px;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
}

.customFixedTop100 {
    top: 100px;
    margin-left: auto;
    margin-right: auto;
}


.separator100 {
    height: 150px;
}

.separator150 {
    height: 200px;
}


