html,
body {
    font-family: "Inter", sans-serif;
}


.title {
    font-size: 100px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -.05em;
}

.description {
    font-size: 20px;
    color: grey;
    font-weight: 300;
}

.separator-150 {
    height: 150px;
}

.separator-170 {
    height: 170px;
}

.custom-fixed-top-50 {
    top: 50px;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 992px) {
    .title {
        font-size: 70px;
        letter-spacing: -.04em;
    }
    .description {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px){
    .title {
        font-size: 48px;
        letter-spacing: -.06em;
    }
}


